# Compiled Object files
*.slo
*.lo
*.o
*.obj

# msvc
*.ncb
*.idb
*.pdb
*.suo
*.user
Debug
Release

# cmake build dir
build

# test
downloads

# Compiled Dynamic libraries
#*.so
#*.dylib

# Compiled Static libraries
#*.lai
#*.la
#*.a
